.heading {
  font-size: 16px;
  color: #333333;
}

.flex {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-top: 15px;
}
.between {
  justify-content: space-between;
}
p {
  color: black;
  font-size: 14px;
}

.product_details {
  display: flex;
  margin-top: 150px;
  min-height: 80vh;
  padding: 0 20px;
  gap: 30px;
}

.product_details .left_side {
  display: flex;
  gap: 20px;
  width: 50%;
  overflow: hidden;
  height: 100%;
}

.left_side .left_side_images img {
  height: 100px;
}

.product_details .left {
  width: 100%;
  overflow: hidden;
}

.product_details .left img {
  height: 100%;
  border-radius: 20px;
  padding-left: 30px;
}

.product_details .right {
  width: 50%px;
}

.user_first {
  font-size: 30px;
}

.user_review_ratings {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
}

.five_stars {
  align-items: center;
  display: flex;
}

.stars .fa-star {
  color: #f89a1d;
  font-size: 20px;
}

.review {
  font-size: 16px;
}

.rating {
  color: rgb(81, 81, 222);
}

.price {
  font-size: 30px;
  display: flex;
  position: relative;
}

.price .discount {
  color: orangered;
  font-size: 20px;
  margin-right: 10px;
}
.price .small_price {
  font-size: 14px;
}
.price .doller {
  font-size: 14px;
}

.colors {
  display: flex;
  gap: 5px;
}

.colors .color {
  width: 20px;
  height: 20px;
  border: 1px solid black;
  border-radius: 50%;
  margin-top: 10px;
}

.red {
  background-color: red;
}
.black {
  background-color: black;
}
.blue {
  background-color: blue;
}
.orange {
  background-color: orange;
}
.green {
  background-color: green;
}
.yellow {
  background-color: yellow;
}

.sizes {
  display: flex;
  gap: 10px;
}
.sizes .size {
  width: 40px;
  height: 40px;
  border: 1px solid black;
  border-radius: 10px;
  margin-top: 10px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}
.product_main {
  padding-bottom: 20px;
}

.product_details_heading {
  padding-top: 20px;
  font-weight: 600;
  font-size: 16px;
}

.about_product {
  max-width: 300px;
}

.about_p {
  font-weight: 600;
}

.product_headlines {
  padding-top: 20px;
  color: f89a1d;
}

.product_headlines_heading {
  font-size: 20px;
  padding-bottom: 10px;
}

.product_headlines ul li {
  list-style: circle;
  font-size: 14px;
  color: #333333;
  padding: 6px 0;
}

@media (max-width: 1200px) {
  body {
    background-color: red;
  }
  .product_details {
    gap: 50px;
  }
}

@media (max-width: 1000px) {
  body {
    background-color: blue;
  }
  .product_details {
    flex-wrap: wrap;
    gap: 50px;
  }

  .product_details .left_side {
    width: 100%;
  }
  .product_details .left_side {
    width: 100%;
  }
}
