.product_details {
  display: flex;
  margin-top: 150px;
  min-height: 80vh;
  padding: 0 20px;
}

.product_details .left_side {
  display: flex;
  gap: 20px;
  width: 40%;
}

.left_side .left_side_images img {
  height: 100px;
}

.product_details .left {
  width: 100%;
}

.left img {
  height: 80%;
  border-radius: 20px;
}

.product_details .right {
  width: 60%px;
}

.user_first {
  font-size: 30px;
}

.user_review_ratings {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
}
.stars .fa-star {
  color: gold;
  font-size: 20px;
}

.review {
  font-size: 16px;
}

.rating {
  color: rgb(81, 81, 222);
}

.price {
  font-size: 30px;
  display: flex;
  position: relative;
}

.price .discount {
  color: orangered;
  font-size: 20px;
  margin-right: 10px;
}
.price .small_price {
  font-size: 14px;
}
.price .doller {
  font-size: 14px;
}
.colors {
  display: flex;
  gap: 5px;
}

.colors .color {
  width: 20px;
  height: 20px;
  border: 1px solid black;
  border-radius: 50%;
  margin-top: 10px;
}

.red {
  background-color: red;
}
.black {
  background-color: black;
}
.blue {
  background-color: blue;
}
.orange {
  background-color: orange;
}
.green {
  background-color: green;
}
.yellow {
  background-color: yellow;
}
.sizes {
  display: flex;
  gap: 10px;
}
.sizes .size {
  width: 40px;
  height: 40px;
  border: 1px solid black;
  border-radius: 10px;
  margin-top: 10px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}
